.server-checkbox {
	width: 18px;
	height: 18px;
	margin-top: 3px;
	display: block;
}

.small-column {
    width: 2px;
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.server-status {
	text-transform: capitalize;
}

.machine-label {
    border-radius: 4px 4px 0 0;
}

tr .tag {
	border-radius: 4px;
}